@import "tailwindcss";


@theme {
  --color-brand-purple: #7e5bef;
  --color-brand-cyan: #2ac9e8;
  --color-brand-dark: #171717;
}


@theme {
  --font-sans: 'Inter', sans-serif;
  --radius-base: 0.5rem;
}


@theme dark {
  --color-brand-dark: #0d0d0d;
}
